<%- include("header") -%>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <div class="box">
    <div class="weather-search" style="padding: 2rem 2rem 1rem;">
      <form class="weather-form" action="/" method="post">
        <input class="search-bar" type="text" name="cityName" placeholder="Enter City" autocomplete="off">
        <button class="btn" type="submit" name="button"><span class="fas fa-search fa-customize"></span></button>
      </form>
      <p style="color: red;"><%= errorMsg %></p>
    </div>
    <div class="weather-display">
      <h2 class="city-name">Weather in </h2>
      <h2 class="temp">°C</h2>
      <div class="condition">
        <img src="https://openweathermap.org/img/wn/50n@2x.png" alt="icon" class="weather-icon">
        <div class="description"></div>
      </div>
      <div class="humidity">Humidity: %</div>
      <div class="wind">Wind Speed: km/h</div>
    </div>
  </div>
</body>

</html>
